@import 'tailwindcss';

@custom-variant dark (&:where(.dark, .dark *));

:root {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

}

body {
  margin: 0;
  min-height: 100vh;
  background-color: #f6f5f8;
  transition: background-color 0.3s ease;
}

/* :root.dark body {
  background-color: #0f172a;
} */

/* Ensure view transition works smoothly */
::view-transition-old(root),
::view-transition-new(root) {
  animation: none;
  mix-blend-mode: normal;
}
